.homePageWrapper {
  padding: 0 var(--mantine-spacing-md);
}

.sideColumn {
  position: sticky;
  top: 80px;
  height: calc(100vh - 100px);
  overflow-y: auto;
  /* Removido o Paper daqui para que cada coluna tenha seu próprio estilo */
}
