.homePageWrapper {
  padding: 0 var(--mantine-spacing-md);
}

.sideColumn {
  position: sticky;
  top: 80px; /* Altura do header */
  height: calc(100vh - 100px);
  overflow-y: auto;
  background-color: rgba(var(--mantine-color-dark-8-rgb), 0.8);
  backdrop-filter: blur(5px);
}
