.pageWrapper {
  min-height: 100vh;
  background-color: var(--mantine-color-dark-9); /* Fundo escuro */
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%230a2a0a' fill-opacity='0.4'%3E%3Cpath d='M0 40L40 0H20L0 20Z'/%3E%3Cpath d='M10 40L40 10V0H0L10 30Z'/%3E%3C/g%3E%3C/svg%3E"); /* Padrão de background sutil */
  background-attachment: fixed; /* Mantém o fundo fixo ao rolar */
  color: var(--mantine-color-gray-0);
}

.mainTitle {
  color: var(--mantine-color-lime-4);
  text-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
  font-size: var(--mantine-font-size-xxxl);

  @media (max-width: 768px) {
    font-size: var(--mantine-font-size-xxl);
  }
}

.subtitle {
  color: var(--mantine-color-gray-3);
  font-size: var(--mantine-font-size-lg);
}
