.module {
  background-color: rgba(var(--mantine-color-dark-8-rgb), 0.8);
  backdrop-filter: blur(5px);
}

.moduleTitle {
  color: var(--mantine-color-gray-5);
  letter-spacing: 0.5px;
  text-align: center;
  border-bottom: 1px solid var(--mantine-color-dark-6);
  padding-bottom: var(--mantine-spacing-xs);
  margin-bottom: var(--mantine-spacing-sm);
}

.statusItem {
    padding: var(--mantine-spacing-xs);
    border-radius: var(--mantine-radius-sm);
    transition: background-color 0.2s ease;
}

.statusItem:hover {
    background-color: var(--mantine-color-dark-7);
}

.botName {
    color: var(--mantine-color-cyan-6);
}

.stat {
    text-align: center;
}

.feedbackQuote {
    padding: var(--mantine-spacing-xs);
    margin-top: var(--mantine-spacing-xs);
    border-radius: var(--mantine-radius-sm);
    background-color: var(--mantine-color-dark-7);
    border-left: 3px solid var(--mantine-color-cyan-8);
    font-style: italic;
    color: var(--mantine-color-gray-4);
}
