.placeholderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 220px; /* Altura mínima para o card */
  background-color: #000;
  position: relative;
  overflow: hidden;
}

.hackerText {
  font-family: 'Courier New', Courier, monospace;
  font-size: 4rem; /* LETRA ENORME */
  font-weight: 700;
  color: var(--mantine-color-cyan-4);
  text-shadow: 0 0 10px var(--mantine-color-cyan-5), 0 0 20px var(--mantine-color-cyan-5);
  z-index: 2;
  letter-spacing: 2px;
}

@media (max-width: 768px) {
  .hackerText { font-size: 3rem; }
}

.rays {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 2px;
  z-index: 1;
  box-shadow: 0 0 20px 10px var(--mantine-color-blue-8);
  border-radius: 50%;
  animation: rays-pulse 4s infinite ease-in-out;
}

.rays::before, .rays::after {
  content: '';
  position: absolute;
  inset: -400px; /* Tamanho dos raios */
  background: conic-gradient(from var(--angle), transparent, var(--mantine-color-blue-7), transparent);
  animation: rays-rotate 10s linear infinite;
}

.rays::after {
  animation-delay: -5s;
}

@keyframes rays-rotate {
  from { --angle: 0deg; }
  to { --angle: 360deg; }
}

@keyframes rays-pulse {
  0%, 100% { opacity: 0.5; transform: scale(0.8); }
  50% { opacity: 1; transform: scale(1); }
}
